{% extends 'base.html' %}

{% block title %}LOOK AT MY SKIS{% endblock %}


{% block header %}
<h1>LOOK AT MY SKIS</h1>
{% endblock %}

{% block content %}
<!-- Grid row -->
<div class="row">

   
    <div class="col-md-12 d-flex justify-content-center mb-5">

    </div>
   
  
  </div>
  
  <div class="gallery" id="gallery">
  
   
<div class="mb-3 pics animation all 2">
<img class="img-fluid" src="./img/ski1.jpg" alt="Csfd">
    </div>

    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="./img/ski2.jpg" alt="Csdf">
    </div>
 
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="./img/ski4.jpg" alt="Cdfg">
    </div>
 
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="./img/ski4.jpg" alt="Cap">
    </div>
    
    <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="./img/ski5.jpg" alt="Carp">
      </div>
  </div>
  
{% endblock %}