{% extends 'base.html' %}

{% block title %}LOOK AT MY SKIS{% endblock %}


{% block header %}
<h1>LOOK AT MY SKIS</h1>
{% endblock %}

{% block content %}
<br>
<!-- Grid row -->
<div class="row">


  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="gallery" id="gallery">
  
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/static/img/ski1.jpg" alt="JEFFERY110">
    </div>
 
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/static/img/ski2.jpg" alt="POWABUNGA">
    </div>

    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="/static/img/ski3.jpg" alt="SHREDDITOR112">
    </div>

    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="/static/img/ski4.jpg" alt="MANGO100">
    </div>
 
    <div class="mb-3 pics animation all 1">
      <img class="img-fluid" src="/static/img/ski5.jpg" alt="DOMAIN90">
    </div>
 
  
  </div>
 

  
{% endblock %}