{% extends 'base.html' %}

{% block title %} home {% endblock %}
{% block header %}
<body style="background-color:powderblue;"></body>
<h1> Velcommen to a very basic webpage using Flask!</h1>
{% endblock %}

{% block content %}
<h1>This is just another example of content!  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis aut ex error soluta distinctio molestiae? Saepe eveniet autem delectus aliquid est quae, ipsam, porro adipisci ipsa sunt nulla accusamus?</h1>




{% endblock %}